.Table {
    border-spacing: 0px;
    background: #fff;
    box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
    width: 100%;
}

.Data-Table {
    max-width: 100vw;
}

.Cell {
    border: 1px solid #f4f6f8;
    padding: 4px;
    text-align: left;
}
.ScrollContainer {
    overflow-x: auto;
}